In [4]:
import numpy as np
import pandas as pd
# 1. Use pandas to create a Series from the following data:
# a. Name the variable that holds the series fruits
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [6]:
# b. Run .describe() on the series to see what describe returns for a series of strings
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [24]:
# c. Run the code necessary to produce only the unique fruit names.
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [82]:
# d. Determine how many times each value occurs in the series.
fruits.value_counts()

kiwi                4
mango               2
blueberry           1
papaya              1
watermelon          1
gala apple          1
honeycrisp apple    1
pineapple           1
blackberry          1
strawberry          1
gooseberry          1
tomato              1
honeydew            1
dtype: int64

In [29]:
# e. Determine the most frequently occurring fruit name from the series.
fruits.value_counts().sort_values(ascending=False).head(1)

kiwi    4
dtype: int64

In [30]:
# f. Determine the least frequently occurring fruit name from the series
fruits.value_counts().sort_values(ascending=False).tail(1)

blueberry    1
dtype: int64

In [76]:
# g. Write the code to get the longest string from the fruits series.
fruits[fruits.str.len() == fruits.str.len().max()]

5    honeycrisp apple
dtype: object

In [77]:
# h. Find the fruit(s) with 5 or more letters in the name.
fruits[fruits.str.len() >= 5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [54]:
# i. Capitalize all the fruit strings in the series.
fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [80]:
# j. Count the letter "a" in all the fruits (use string vectorization)
fruits.str.count("a")

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [66]:
# j. Count the letter "a" in all the fruits (use string vectorization)
def count_letter_a(string):
    count = 0
    for letter in string:
        if letter == "a":
            count += 1
    return count

fruits.apply(count_letter_a)

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64