In [1]:
from pydataset import data
import pandas as pd
import numpy as np

### 1. Load the mpg dataset. Read the documentation for it, and use the data to answer these questions:

In [2]:
mpg = data("mpg")

In [3]:
data("mpg", show_doc=True)

mpg

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Fuel economy data from 1999 and 2008 for 38 popular models of car

### Description

This dataset contains a subset of the fuel economy data that the EPA makes
available on http://fueleconomy.gov. It contains only models which had a new
release every year between 1999 and 2008 - this was used as a proxy for the
popularity of the car.

### Usage

    data(mpg)

### Format

A data frame with 234 rows and 11 variables

### Details

  * manufacturer.

  * model.

  * displ. engine displacement, in litres

  * year.

  * cyl. number of cylinders

  * trans. type of transmission

  * drv. f = front-wheel drive, r = rear wheel drive, 4 = 4wd

  * cty. city miles per gallon

  * hwy. highway miles per gallon

  * fl.

  * class.

In [4]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [5]:
# On average, which manufacturer has the best miles per gallon? - cty
mpg.groupby("manufacturer").mean().sort_values("cty", ascending=False).head()

                 displ         year       cyl        cty        hwy
manufacturer
honda         1.711111  2003.000000  4.000000  24.444444  32.555556
volkswagen    2.255556  2002.666667  4.592593  20.925926  29.222222
subaru        2.457143  2004.142857  4.000000  19.285714  25.571429
hyundai       2.428571  2004.142857  4.857143  18.642857  26.857143
toyota        2.952941  2002.705882  5.117647  18.529412  24.911765

In [6]:
# On average, which manufacturer has the best miles per gallon? - hwy
mpg.groupby("manufacturer").mean().sort_values("hwy", ascending=False).head()

                 displ         year       cyl        cty        hwy
manufacturer
honda         1.711111  2003.000000  4.000000  24.444444  32.555556
volkswagen    2.255556  2002.666667  4.592593  20.925926  29.222222
hyundai       2.428571  2004.142857  4.857143  18.642857  26.857143
audi          2.544444  2003.500000  5.222222  17.611111  26.444444
pontiac       3.960000  2002.600000  6.400000  17.000000  26.400000

In [7]:
# How many different manufacturers are there?
len(mpg["manufacturer"].unique())

15

In [8]:
# How many different models are there?
len(mpg["model"].unique())

38

In [9]:
# Do automatic or manual cars have better miles per gallon?
mpg["general_trans"] = mpg["trans"].str[:4]
mpg.groupby("general_trans").mean()

                  displ         year       cyl        cty        hwy
general_trans
auto           3.719745  2003.757962  6.203822  15.968153  22.292994
manu           2.966234  2002.974026  5.246753  18.675325  25.779221

In [10]:
mpg.groupby("general_trans").median()

               displ  year  cyl  cty  hwy
general_trans
auto             3.8  2008    6   16   22
manu             2.5  1999    4   18   26

### 2. Joining and Merging

In [ ]:
# Copy the users and roles dataframes from the examples above.