# Notes 2020-02-19

List Comprehensions

In [1]:
[x for x in range(0, 10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
[x + 1 for x in range(0, 10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

numbers greater than 5 doubled

In [3]:
[x * 2 for x in range(0, 10) if x > 5]

[12, 14, 16, 18]

SELECT    FROM    WHERE

In [4]:
[x / 2 for x in range(0, 10) if x % 2 == 1]

[0.5, 1.5, 2.5, 3.5, 4.5]

add three to the even numbers less than seven

In [5]:
[x + 3 for x in range(0, 10) if x < 7 and x % 2 == 0]

[3, 5, 7, 9]

In [6]:
cohorts = [
    {'name': 'Ada', 'n_students': 17, 'coolness': 4},
    {'name': 'Bayes', 'n_students': 20, 'coolness': 5},
    {'name': 'Curie', 'n_students': 17, 'coolness': 80}]

In [7]:
[cohort for cohort in cohorts]

[{'name': 'Ada', 'n_students': 17, 'coolness': 4},
 {'name': 'Bayes', 'n_students': 20, 'coolness': 5},
 {'name': 'Curie', 'n_students': 17, 'coolness': 80}]

name of the cohorts with coolnes greater than 5

In [8]:
[cohort['name'] for cohort in cohorts]

['Ada', 'Bayes', 'Curie']

In [9]:
[cohort['name'] for cohort in cohorts if cohort['coolness'] >= 5]

['Bayes', 'Curie']

coolness of Bayes

In [10]:
[cohort for cohort in cohorts if cohort['name'] == 'Bayes']

[{'name': 'Bayes', 'n_students': 20, 'coolness': 5}]

In [11]:
[cohort['coolness'] for cohort in cohorts if cohort['name'] == 'Bayes']

[5]

In [12]:
[cohort['coolness'] for cohort in cohorts if cohort['name'] == 'Bayes'][0]

5

In [13]:
bayes_coolness = [cohort['coolness'] for cohort in cohorts if cohort['name'] == 'Bayes'][0]

In [14]:
bayes_coolness

5

In [15]:
[cohort['name'] for cohort in cohorts if cohort['coolness'] >= bayes_coolness]

['Bayes', 'Curie']

average number of students?

In [16]:
num_students_by_cohort = [cohort['n_students'] for cohort in cohorts]

In [17]:
num_students_by_cohort

[17, 20, 17]

In [18]:
sum(num_students_by_cohort) / len(num_students_by_cohort)

18.0

not built-in average function with basic python; calculate as above

cool example

which *right* triangle with integer sides <= 10 and has a perimeter of 24

can iterate over multiple things all at the same time

In [19]:
[(a, b, c) for a in range(1, 11) for b in range(1, 11) for c in range(1, 11)
if a**2 + b**2 == c**2 and a + b + c == 24]

[(6, 8, 10), (8, 6, 10)]

In [20]:
[(a, b, c) for a in range(1, 11) for b in range(1, 11) for c in range(1, 11)
if a**2 + b**2 == c**2 and a + b + c == 24 and a < b and b < c]

[(6, 8, 10)]

In [21]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

how many pets do people with a preference for light coffee have on average?

In [22]:
[student for student in students if student['coffee_preference'] == 'light']

[{'id': '100001',
  'student': 'Ada Lovelace',
  'coffee_preference': 'light',
  'course': 'web development',
  'grades': [70, 91, 82, 71],
  'pets': [{'species': 'horse', 'age': 8}]},
 {'id': '100003',
  'student': 'Marie Curie',
  'coffee_preference': 'light',
  'course': 'web development',
  'grades': [70, 89, 69, 65],
  'pets': [{'species': 'cat', 'age': 0}]},
 {'id': '100013',
  'student': 'Jane Goodall',
  'coffee_preference': 'light',
  'course': 'web development',
  'grades': [80, 70, 68, 98],
  'pets': [{'species': 'horse', 'age': 4}]}]

slove for just a single record *then* solve more generally

In [23]:
student = students[0]

In [24]:
student

{'id': '100001',
 'student': 'Ada Lovelace',
 'coffee_preference': 'light',
 'course': 'web development',
 'grades': [70, 91, 82, 71],
 'pets': [{'species': 'horse', 'age': 8}]}

In [25]:
len(student['pets'])

1

In [26]:
[len(student['pets']) for student in students if student['coffee_preference'] == 'light']

[1, 1, 1]

In [27]:
n_pets = [len(student['pets']) for student in students if student['coffee_preference'] == 'light']

In [28]:
n_pets

[1, 1, 1]

In [29]:
avg_no_pets_for_light_coffee_drinkers = sum(n_pets) / len(n_pets)

In [30]:
avg_no_pets_for_light_coffee_drinkers

1.0

In [31]:
number = range(1, 100)

DONT NAME VARIABLES THEN REFERENCE THEM IN A LIST COMPREHENSIONS

# Resuming Exercises

- A student can be enrolled to a class only if the class is not full and the class schedule does not conflict with her current schedule.

**use positive variable names as much as possible, unlike below**

In [32]:
class_not_full = True

In [33]:
no_conflict = True

In [34]:
enrolled = class_not_full + no_conflict

In [35]:
enrolled

2

In [36]:
enrolled = class_not_full and no_conflict

In [37]:
enrolled

True

In [38]:
enrolled = class_not_full and not no_conflict

In [39]:
enrolled

False

In [40]:
enrolled = class_not_full and no_conflict

In [41]:
enrolled

True

- A product offer can be applied only if people buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

In [42]:
premium_member = True

In [43]:
items_purchased = 2

In [44]:
offer_valid = True

In [45]:
offer_applied = offer_valid and (items_purchased > 2 or premium_member)

In [46]:
offer_applied

True

In [47]:
items_purchased = 3

In [48]:
offer_applied = items_purchased > 2 and offer_valid

In [49]:
offer_applied

True

In [50]:
offer_applied = (items_purchased > 2 and offer_valid) or premium_member

In [51]:
offer_applied

True

In [52]:
offer_applied = premium_member

In [53]:
offer_applied

True

In [54]:
username = 'codeup'
password = 'notastrongpassword'

- the password must be at least 5 characters

In [55]:
password_five_character_min = len(password) > 5

- the username must be no more than 20 characters

In [56]:
username_20_character_max = len(username) <= 20

- the password must not be the same as the username

In [57]:
password_same_as_username = username == password

In [58]:
username_20_character_max

True

In [59]:
password_five_character_min

True

In [60]:
password_same_as_username

False

- bonus neither the username or password can start or end with whitespace

In [61]:
neither_start_nor_end_with_whitespace = username[0] != ' ' and username[-1] != ' ' and password[0] != ' ' and password != ' '

In [62]:
neither_start_nor_end_with_whitespace

True

# 17 List Comprehension Exercises

In [63]:
# 17 list comprehension problems in python

fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]

# Example for loop solution to add 1 to each number in the list
numbers_plus_one = []
for number in numbers:
    numbers_plus_one.append(number + 1)

# Example of using a list comprehension to create a list of the numbers plus one.
numbers_plus_one = [number + 1 for number in numbers]

# Example code that creates a list of all of the list of strings in fruits and uppercases every string
output = []
for fruit in fruits:
    output.append(fruit.upper())

In [64]:
# Exercise 1 - rewrite the above example code using list comprehension syntax. Make a variable named uppercased_fruits to hold the output of the list comprehension. Output should be ['MANGO', 'KIWI', etc...]
uppercased_fruits = [fruit.upper() for fruit in fruits]

In [65]:
uppercased_fruits

['MANGO', 'KIWI', 'STRAWBERRY', 'GUAVA', 'PINEAPPLE', 'MANDARIN ORANGE']

In [66]:
# Exercise 2 - create a variable named capitalized_fruits and use list comprehension syntax to produce output like ['Mango', 'Kiwi', 'Strawberry', etc...]
capitalized_fruits = [fruit.capitalize() for fruit in fruits]

In [67]:
capitalized_fruits

['Mango', 'Kiwi', 'Strawberry', 'Guava', 'Pineapple', 'Mandarin orange']

In [68]:
# Exercise 3 - Use a list comprehension to make a variable named fruits_with_more_than_two_vowels. Hint: You'll need a way to check if something is a vowel.
fruits_with_more_than_two_vowels = [
    fruit for fruit in fruits if
        fruit.count('a') +
        fruit.count('e') +
        fruit.count('i') +
        fruit.count('o') +
        fruit.count('u') +
        fruit.count('A') +
        fruit.count('E') +
        fruit.count('I') +
        fruit.count('O') +
        fruit.count('U') > 2
]

In [69]:
fruits_with_more_than_two_vowels

['guava', 'pineapple', 'mandarin orange']

In [70]:
# Exercise 4 - make a variable named fruits_with_only_two_vowels. The result should be ['mango', 'kiwi', 'strawberry']
fruits_with_only_two_vowels = [
    fruit for fruit in fruits if
        fruit.count('a') +
        fruit.count('e') +
        fruit.count('i') +
        fruit.count('o') +
        fruit.count('u') +
        fruit.count('A') +
        fruit.count('E') +
        fruit.count('I') +
        fruit.count('O') +
        fruit.count('U') == 2
]

In [71]:
fruits_with_only_two_vowels

['mango', 'kiwi', 'strawberry']

In [72]:
# Exercise 5 - make a list that contains each fruit with more than 5 characters
fruits_with_more_than_five_characters = [fruit for fruit in fruits if len(fruit) > 5]

In [73]:
fruits_with_more_than_five_characters

['strawberry', 'pineapple', 'mandarin orange']

In [74]:
# Exercise 6 - make a list that contains each fruit with exactly 5 characters
exactly_five_characters = [fruit for fruit in fruits if len(fruit) == 5]

In [75]:
exactly_five_characters

['mango', 'guava']

In [76]:
# Exercise 7 - Make a list that contains fruits that have less than 5 characters
less_than_five_characters = [fruit for fruit in fruits if len(fruit) < 5]

In [77]:
less_than_five_characters

['kiwi']

In [78]:
# Exercise 8 - Make a list containing the number of characters in each fruit. Output would be [5, 4, 10, etc... ]
number_characters = [len(fruit) for fruit in fruits]

In [79]:
number_characters

[5, 4, 10, 5, 9, 15]

In [80]:
# Exercise 9 - Make a variable named fruits_with_letter_a that contains a list of only the fruits that contain the letter "a"
fruits_with_letter_a = [fruit for fruit in fruits if 'a' in fruit]

In [81]:
fruits_with_letter_a

['mango', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

In [82]:
# Exercise 10 - Make a variable named even_numbers that holds only the even numbers 
even_numbers = [number for number in numbers if number % 2 == 0]

In [83]:
even_numbers

[2, 4, 6, 8, 10, 256, -8, -4, -2]

In [84]:
# Exercise 11 - Make a variable named odd_numbers that holds only the odd numbers
odd_numbers = [number for number in numbers if number % 2 == 1]

In [85]:
odd_numbers

[3, 5, 7, 9, 11, 13, 17, 19, 23, 5, -9]

In [86]:
# Exercise 12 - Make a variable named positive_numbers that holds only the positive numbers
positive_numbers = [number for number in numbers if number > 0]
positive_numbers

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, 5]

In [87]:
positive_numbers

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, 5]

In [88]:
# Exercise 13 - Make a variable named negative_numbers that holds only the negative numbers
negative_numbers = [number for number in numbers if number < 0]

negative_numbers

[-8, -4, -2, -9]

In [89]:
# Exercise 14 - use a list comprehension w/ a conditional in order to produce a list of numbers with 2 or more numerals
tens = [number for number in numbers if len(str(abs(number))) >= 2]
tens

[10, 11, 13, 17, 19, 23, 256]

In [90]:
two_or_more_numerals = [number for number in numbers if number >= 10 or number <= -10]
two_or_more_numerals

[10, 11, 13, 17, 19, 23, 256]

QUESTION: how do we elmimate the negative numbers from the output from the above exercise

In [91]:
# Exercise 15 - Make a variable named numbers_squared that contains the numbers list
# with each element squared. Output is [4, 9, 16, etc...]
numbers_squared = [number ** 2 for number in numbers]
numbers_squared

[4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 169,
 289,
 361,
 529,
 65536,
 64,
 16,
 4,
 25,
 81]

In [92]:
# Exercise 16 - Make a variable named odd_negative_numbers that contains only the numbers that are both odd and negative.
odd_negative_numbers = [number for number in numbers if number % 2 == 1 and number < 0]

In [93]:
odd_negative_numbers

[-9]

In [94]:
# Exercise 17 - Make a variable named numbers_plus_5. In it, return a list containing each number plus five. 
numbers_plus_5 = [number + 5 for number in numbers]

In [95]:
numbers_plus_5

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 22, 24, 28, 261, -3, 1, 3, 10, -4]

In [96]:
# BONUS Make a variable named "primes" that is a list containing the prime numbers in the numbers list. *Hint* you may want to make or find a helper function that determines if a given number is prime or not.

# 20 Python Data Structure Manipulation Exercises

1. How many students are there?

In [97]:
len(students)

14

2. How many students prefer light coffee? For each type of coffee roast?

In [98]:
[student['coffee_preference'] for student in students]

['light',
 'medium',
 'light',
 'dark',
 'dark',
 'dark',
 'dark',
 'medium',
 'medium',
 'medium',
 'dark',
 'medium',
 'light',
 'medium']

In [99]:
light = len([student for student in students if student['coffee_preference'] == 'light'])
light

3

In [100]:
medium = len([student for student in students if student['coffee_preference'] == 'medium'])
medium

6

In [101]:
dark = len([student for student in students if student['coffee_preference'] == 'dark'])
dark

5

3. How many types of each pet are there?

In [102]:
student = students[1]

In [103]:
student

{'id': '100002',
 'student': 'Thomas Bayes',
 'coffee_preference': 'medium',
 'course': 'data science',
 'grades': [75, 73, 86, 100],
 'pets': []}

In [104]:
len(student['pets'])

0

In [105]:
pets = student['pets']
pets

[]

In [106]:
[student['pets'] for student in students]

[[{'species': 'horse', 'age': 8}],
 [],
 [{'species': 'cat', 'age': 0}],
 [{'species': 'dog', 'age': 4}, {'species': 'cat', 'age': 4}],
 [{'species': 'horse', 'age': 6},
  {'species': 'horse', 'age': 7},
  {'species': 'dog', 'age': 5}],
 [],
 [{'species': 'cat', 'age': 10}],
 [{'species': 'cat', 'age': 10}, {'species': 'cat', 'age': 8}],
 [{'species': 'cat', 'age': 0}, {'species': 'cat', 'age': 0}],
 [{'species': 'cat', 'age': 8}],
 [{'species': 'cat', 'age': 8}, {'species': 'cat', 'age': 5}],
 [{'species': 'cat', 'age': 10}],
 [{'species': 'horse', 'age': 4}],
 [{'species': 'dog', 'age': 6}]]

In [107]:
pets = [student['pets'] for student in students]
pets

[[{'species': 'horse', 'age': 8}],
 [],
 [{'species': 'cat', 'age': 0}],
 [{'species': 'dog', 'age': 4}, {'species': 'cat', 'age': 4}],
 [{'species': 'horse', 'age': 6},
  {'species': 'horse', 'age': 7},
  {'species': 'dog', 'age': 5}],
 [],
 [{'species': 'cat', 'age': 10}],
 [{'species': 'cat', 'age': 10}, {'species': 'cat', 'age': 8}],
 [{'species': 'cat', 'age': 0}, {'species': 'cat', 'age': 0}],
 [{'species': 'cat', 'age': 8}],
 [{'species': 'cat', 'age': 8}, {'species': 'cat', 'age': 5}],
 [{'species': 'cat', 'age': 10}],
 [{'species': 'horse', 'age': 4}],
 [{'species': 'dog', 'age': 6}]]

In [108]:
flattened_pets = sum(pets, [])
flattened_pets

[{'species': 'horse', 'age': 8},
 {'species': 'cat', 'age': 0},
 {'species': 'dog', 'age': 4},
 {'species': 'cat', 'age': 4},
 {'species': 'horse', 'age': 6},
 {'species': 'horse', 'age': 7},
 {'species': 'dog', 'age': 5},
 {'species': 'cat', 'age': 10},
 {'species': 'cat', 'age': 10},
 {'species': 'cat', 'age': 8},
 {'species': 'cat', 'age': 0},
 {'species': 'cat', 'age': 0},
 {'species': 'cat', 'age': 8},
 {'species': 'cat', 'age': 8},
 {'species': 'cat', 'age': 5},
 {'species': 'cat', 'age': 10},
 {'species': 'horse', 'age': 4},
 {'species': 'dog', 'age': 6}]

In [109]:
flattened_pets[0]['species']

'horse'

In [110]:
species = []
for student in students:
    for pet in student['pets']:
        species.append(pet['species'])

len(set(species))

3

4. How many grades does each student have? Do they all have the same number of grades?

In [111]:
[len(student["grades"]) for student in students]

[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]

In [112]:
students[1]["grades"]

[75, 73, 86, 100]

In [113]:
# def same_number_of_grades(students):
#     for student in students:
#         if [len(student['grades']) for student in students] == [len(student[0:]["grades"]) for student in students]:
#             return True
#         else:
#             False
        
# same_number_of_grades(students)

In [114]:
[len(student['grades']) for student in students]

[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]

5. What is each student's grade average?

In [115]:
[(sum(student['grades']) / len(student['grades'])) for student in students]

[78.5,
 83.5,
 73.25,
 78.5,
 81.5,
 80.75,
 84.5,
 88.75,
 88.75,
 82.5,
 81.5,
 91.0,
 79.0,
 89.0]

6. How many pets does each student have?

In [116]:
[ (student['student'], len(student['pets'])) for student in students]

[('Ada Lovelace', 1),
 ('Thomas Bayes', 0),
 ('Marie Curie', 1),
 ('Grace Hopper', 2),
 ('Alan Turing', 3),
 ('Rosalind Franklin', 0),
 ('Elizabeth Blackwell', 1),
 ('Rene Descartes', 2),
 ('Ahmed Zewail', 2),
 ('Chien-Shiung Wu', 1),
 ('William Sanford Nye', 2),
 ('Carl Sagan', 1),
 ('Jane Goodall', 1),
 ('Richard Feynman', 1)]

7. How many students are in web development? data science?

In [117]:
def web_dev_students(dictionary):
    count = 0
    for student in students:
        if student['course'] == 'web development':
            count += 1
    return count

web_dev_students(students)

7

In [118]:
[(student['student'], student['course']) for student in students if student['course'] == 'web development']

[('Ada Lovelace', 'web development'),
 ('Marie Curie', 'web development'),
 ('Alan Turing', 'web development'),
 ('Elizabeth Blackwell', 'web development'),
 ('Chien-Shiung Wu', 'web development'),
 ('Jane Goodall', 'web development'),
 ('Richard Feynman', 'web development')]

In [119]:
def data_sci_students(dictionary):
        count = 0
        for student in students:
            if student['course'] == 'data science':
                count += 1
        return count
    
data_sci_students(students)

7

In [120]:
[(student['student'], student['course']) for student in students if student['course'] == 'data science']

[('Thomas Bayes', 'data science'),
 ('Grace Hopper', 'data science'),
 ('Rosalind Franklin', 'data science'),
 ('Rene Descartes', 'data science'),
 ('Ahmed Zewail', 'data science'),
 ('William Sanford Nye', 'data science'),
 ('Carl Sagan', 'data science')]

8 What is the average number of pets for students in web development?

In [121]:
def avg_pets_web_dev_students(dictionary):
    total_pets = 0
    total_students = 0
    for student in students:
        if student['course'] == 'web development':
            total_pets += len(student['pets'])
            total_students += 1
    return round(total_pets/total_students, 1)

avg_pets_web_dev_students(students)

1.3

In [122]:
[len(student['pets']) for student in students if student['course'] == 'web development']

[1, 1, 3, 1, 1, 1, 1]

9. What is the average pet age for students in data science?

In [123]:
def avg_num_pets_data_sci_stu(dictionary):
    total_pets = 0
    total_students = 0
    for student in students:
        if student['course'] == 'data science':
            total_pets += len(student['pets'])
            total_students += 1
    return round(total_pets/total_students, 1)

avg_num_pets_data_sci_stu(students)

1.3

In [124]:
[len(student['pets']) for student in students if student['course'] == 'data science']

[0, 2, 0, 2, 2, 2, 1]

10. What is most frequent coffee preference for data science students?

In [125]:
coffee_types = [student['coffee_preference'] for student in students]
coffee_types

['light',
 'medium',
 'light',
 'dark',
 'dark',
 'dark',
 'dark',
 'medium',
 'medium',
 'medium',
 'dark',
 'medium',
 'light',
 'medium']

In [126]:
from collections import Counter

In [127]:
coffee_preference_data_science = Counter([student["coffee_preference"] for student in students if student["course"] == "data science"])

In [128]:
coffee_preference_data_science

Counter({'medium': 4, 'dark': 3})

In [129]:
most_frequent_coffee_preference_data_science = coffee_preference_data_science["medium"]
most_frequent_coffee_preference_data_science

4

11. What is the least frequent coffee preference for web development students?

In [130]:
coffee_preference_web_dev = Counter([student["coffee_preference"] for student in students if student["course"] == "web development"])
coffee_preference_web_dev

Counter({'light': 3, 'dark': 2, 'medium': 2})

In [131]:
coffee_preference_web_dev["dark"] + coffee_preference_web_dev["medium"]

4

12. What is the average grade for students with at least 2 pets?

In [132]:
student_grades_multiple_pets = [student["grades"] for student in students if len(student["pets"]) >= 2]
student_grades_multiple_pets

[[73, 66, 83, 92],
 [78, 98, 85, 65],
 [87, 79, 90, 99],
 [74, 99, 93, 89],
 [70, 92, 65, 99]]

In [133]:
average_student_grades_multiple_pets = [ (sum(student["grades"]) / len(student["grades"])) for student in students if len(student["pets"]) >= 2]
average_student_grades_multiple_pets

[78.5, 81.5, 88.75, 88.75, 81.5]

In [134]:
average_overall_grade_multiple_pets = sum(average_student_grades_multiple_pets) / len(average_student_grades_multiple_pets)
average_overall_grade_multiple_pets

83.8

13. How many students have 3 pets?

In [135]:
students_with_three_pets = [student["student"] for student in students if len(student["pets"]) == 3]
students_with_three_pets

['Alan Turing']

14. What is the average grade for students with 0 pets?

In [136]:
average_student_grades_zero_pets = [ (sum(student["grades"]) / len(student["grades"])) for student in students if len(student["pets"]) == 0]
average_student_grades_zero_pets

[83.5, 80.75]

In [137]:
average_overall_grade_zero_pets = sum(average_student_grades_zero_pets) / len(average_student_grades_zero_pets)
average_overall_grade_zero_pets

82.125

15. What is the average grade for web development students? data science students?

In [143]:
def avg_grade_web_dev(students):
    student_grades = [student["grades"] for student in students if student["course"] == "web development"]
    student_grades = sum(student_grades, [])
    average_grades = sum(student_grades) / len(student_grades)
    return average_grades
    
avg_grade_web_dev(students)

81.17857142857143

In [138]:
grades_for_students = [student["grades"] for student in students]
grades_for_students

[[70, 91, 82, 71],
 [75, 73, 86, 100],
 [70, 89, 69, 65],
 [73, 66, 83, 92],
 [78, 98, 85, 65],
 [76, 70, 96, 81],
 [69, 94, 89, 86],
 [87, 79, 90, 99],
 [74, 99, 93, 89],
 [82, 92, 91, 65],
 [70, 92, 65, 99],
 [100, 86, 91, 87],
 [80, 70, 68, 98],
 [73, 99, 86, 98]]

In [139]:
flattened_student_grades = sum(grades_for_students, [])
flattened_student_grades

[70,
 91,
 82,
 71,
 75,
 73,
 86,
 100,
 70,
 89,
 69,
 65,
 73,
 66,
 83,
 92,
 78,
 98,
 85,
 65,
 76,
 70,
 96,
 81,
 69,
 94,
 89,
 86,
 87,
 79,
 90,
 99,
 74,
 99,
 93,
 89,
 82,
 92,
 91,
 65,
 70,
 92,
 65,
 99,
 100,
 86,
 91,
 87,
 80,
 70,
 68,
 98,
 73,
 99,
 86,
 98]

In [140]:
import functions_exercises as fe

In [141]:
fe.is_two(2)

True