# Review

- Referential integrity - calling a function over and over with the same result; pure functions = math functions
- Chaining - methods are functions that live on objects
    - Objects have behavior and state == verbs and adjectives or nouns
    - Objects are things like strings, dataframes, series, numpy arrays, lists, dictionaries, sets
- Writing frunctions in your own libraries
- Pandas = Excel on steriods for pyhton
    - Fundmentals and how to use the docs
- Jupyter Notebook
    - visualizations
    - demo and tutorials
- .gitignore
    - sensitive info
    - passwords, api
    - datasets are too large for got (50MB)
    - ignore administrative kruft (.DS_Store, Thumbs.db, __pychache__, .jupyter_checkpoints)
- Series v. DataFrames
    - column vs. spreadsheet
- SQL
    - MySQL, MS SQL, Oracle, PostGresQL
- Numpy
    - native lists on steroids, NaN, fast
- Vectorized operations
    - Python = [1, 2, 3] * 2 == [[1, 2, 3], [1, 2, 3]]
    - Vectorized operations = [1, 2, 3] * 2 == [2, 4, 6]
- Lambdas == anonymous function
    - f(x) = x + 1
    - g(x) = x + 2
    - f(g(x))
    - g(f(x))
    - syntax -> lambda x: x +1
- Seaborn
    - show a distribution of values in seaborn
- Itertools = itertools functions return generators and you can for loop generators
- Pandas syntax
    -.iloc and .loc
        -.iloc[rows:columns]
        -.loc["columnA":"columnZ"]

#### What I want in a job
1. build something
2. mentorship
3. accountability

#### Where to focus energy

Not on these:

r

julia

golang

scala

----

On these:

python
SQL
understand your assumptions around the data
data literacy (shapes of data)

focus on depth == more projects

go the extra mile
    - feature engineering
    - hypothesis testing
    - modeling

#### Lambda Example

In [1]:
people = [{
    'name': 'Peter',
    'pieces_of_flair': 5
}, {
    'name': 'Joanna',
    'pieces_of_flair': 14
}, {
    'name': 'Samir',
    'pieces_of_flair': 4
}, {
    'name': 'Milton',
    'pieces_of_flair': 9
}]

In [2]:
sorted(people, key=lambda person: person["pieces_of_flair"])

[{'name': 'Samir', 'pieces_of_flair': 4},
 {'name': 'Peter', 'pieces_of_flair': 5},
 {'name': 'Milton', 'pieces_of_flair': 9},
 {'name': 'Joanna', 'pieces_of_flair': 14}]

In [11]:
def flair(person):
    return person["pieces_of_flair"]

In [12]:
sorted(people, key=sort_by_flair)

[{'name': 'Samir', 'pieces_of_flair': 4},
 {'name': 'Peter', 'pieces_of_flair': 5},
 {'name': 'Milton', 'pieces_of_flair': 9},
 {'name': 'Joanna', 'pieces_of_flair': 14}]

In [13]:
def length_of_name(person):
    return len(person["name"])

In [14]:
sorted(people, key=sort_by_length_of_name)

[{'name': 'Peter', 'pieces_of_flair': 5},
 {'name': 'Samir', 'pieces_of_flair': 4},
 {'name': 'Joanna', 'pieces_of_flair': 14},
 {'name': 'Milton', 'pieces_of_flair': 9}]

In [15]:
def last_letter_of_name(person):
    return person["name"][-1]

In [16]:
sorted(people, key=last_letter_of_name)

[{'name': 'Joanna', 'pieces_of_flair': 14},
 {'name': 'Milton', 'pieces_of_flair': 9},
 {'name': 'Peter', 'pieces_of_flair': 5},
 {'name': 'Samir', 'pieces_of_flair': 4}]

In [18]:
# Same as above, but lambda
sorted(people, key=lambda x: x["name"][-1])

[{'name': 'Joanna', 'pieces_of_flair': 14},
 {'name': 'Milton', 'pieces_of_flair': 9},
 {'name': 'Peter', 'pieces_of_flair': 5},
 {'name': 'Samir', 'pieces_of_flair': 4}]

In [21]:
# Conditional inside of lambda
from pydataset import data

In [22]:
mpg = data("mpg")

In [23]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [24]:
# whole dataframe
mpg.apply()

TypeError: apply() missing 1 required positional argument: 'func'

In [27]:
mpg.trans.apply(lambda row: "auto" if "auto" in row else "manual")

1        auto
2      manual
3      manual
4        auto
5        auto
        ...
230      auto
231    manual
232      auto
233    manual
234      auto
Name: trans, Length: 234, dtype: object

#### df["new_column"] = df.existing_column.apply(function) to create a new column un dataframe

In [29]:
mpg["transmission_type"] = mpg.trans.apply(lambda row: "auto" if "auto" in row else "manual")
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,transmission_type
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,auto
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,manual
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,manual
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,auto
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,auto
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,auto
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,manual
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,auto
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,manual
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,auto

In [35]:
stuff = {
    "contents": [
        {"name": "grapes", "quantity": 15},
        {"name": "mango", "quantity": 10},
        {"name": "berries", "quantity": "10"}
    ]
}
stuff

{'contents': [{'name': 'grapes', 'quantity': 15},
  {'name': 'mango', 'quantity': 10},
  {'name': 'berries', 'quantity': '10'}]}

In [36]:
stuff["contents"][2]["quantity"] = 0

In [37]:
stuff

{'contents': [{'name': 'grapes', 'quantity': 15},
  {'name': 'mango', 'quantity': 10},
  {'name': 'berries', 'quantity': 0}]}

In [38]:
{(k, v): k+v for k in range(4) for v in range(4)}

{(0, 0): 0,
 (0, 1): 1,
 (0, 2): 2,
 (0, 3): 3,
 (1, 0): 1,
 (1, 1): 2,
 (1, 2): 3,
 (1, 3): 4,
 (2, 0): 2,
 (2, 1): 3,
 (2, 2): 4,
 (2, 3): 5,
 (3, 0): 3,
 (3, 1): 4,
 (3, 2): 5,
 (3, 3): 6}