In [1]:
import math
import pandas as pd

Take the word EASY: Its first three letters — E, A and S — are the fifth, first, and nineteenth letters, respectively, in the alphabet. If you add 5, 1, and 19, you get 25, which is the value of the alphabetical position of Y, the last letter of EASY.

Can you think of a common five-letter word that works in the opposite way — in which the value of the alphabetical positions of its last four letters add up to the value of the alphabetical position of its first letter?

In [2]:
with open('/usr/share/dict/words') as f:
    words = f.read().split('\n')

print(words[:10])

['A', 'a', 'aa', 'aal', 'aalii', 'aam', 'Aani', 'aardvark', 'aardwolf', 'Aaron']

In [3]:
pd.Series(words)

0                  A
1                  a
2                 aa
3                aal
4              aalii
             ...
235882        Zythia
235883        zythum
235884       Zyzomys
235885    Zyzzogeton
235886
Length: 235887, dtype: object

In [4]:
df = pd.DataFrame({"word": words})

In [5]:
df.word.apply(len)

0          1
1          1
2          2
3          3
4          5
          ..
235882     6
235883     6
235884     7
235885    10
235886     0
Name: word, Length: 235887, dtype: int64

In [6]:
df["word_length"] = df.word.apply(len)
df

              word  word_length
0                A            1
1                a            1
2               aa            2
3              aal            3
4            aalii            5
...            ...          ...
235882      Zythia            6
235883      zythum            6
235884     Zyzomys            7
235885  Zyzzogeton           10
235886                        0

[235887 rows x 2 columns]

In [7]:
df.filter(word_length=5)

TypeError: filter() got an unexpected keyword argument 'word_length'

In [8]:
def alphabetical_value(ch):
    return "abcdefghijklmnopqrstuvwxyz".index(ch.lower()) + 1

alphabetical_value("z")

26

In [9]:
def test_word(word):
    first_letter, *last_four = word # splat
    return alphabetical_value(first_letter) == sum([alphabetical_value(ch) for ch in last_four])

test_word("zebra")

True

In [10]:
# solution
[word for word in words if len(word) == 5 and test_word(word)]

['raffe',
 'Sadie',
 'sifac',
 'table',
 'Uchee',
 'vakia',
 'Vicia',
 'wanga',
 'whack',
 'Xicak',
 'yeara',
 'zebra']

In [ ]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "Z"]
letters

In [ ]:
df.filter(word_)

In [ ]:
numbers = list(range(1,27))
numbers

In [ ]:
letters_and_numbers = list(zip(letters, numbers))
letters_and_numbers

In [ ]:
len(words[9])

In [ ]:
def find_five_letter_words(words):
    list_of_words = []
    for word in words:
        if len(word) == 5:
            list_of_words.append(word.lower())
    return list_of_words

find_five_letter_words(words)

In [ ]:
five_letter_words = find_five_letter_words(words)
five_letter_words

In [ ]:
def numeric_value(five_letter_words):

In [ ]:
numeric_value = [y for x, y in letters_and_numbers]
numeric_value

In [ ]:
for word in five_letter_word:
    for letter in word:
        [y for x, y in letters_and_numbers]